<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="pingback" href="~/assets/php/xmlrpc.php" />
    <title>@ViewBag.Title</title>
  <style id="rocket-critical-css">
a, body, div, html, iframe, img, li, span, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1
}

ul {
	list-style: none
}

:focus {
	outline: 0
}

header, nav {
	display: block
}

body {
	font-family: Open Sans, Arial, sans-serif;
	font-size: 14px;
	color: #666;
	background-color: #fff;
	line-height: 1.7em;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

body.et_cover_background {
	background-size: cover !important;
	background-position: top !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed
}

a {
	color: #2ea3f2
}

a {
	text-decoration: none
}

iframe {
	max-width: 100%
}

input {
	-webkit-appearance: none
}

input {
	font-family: inherit
}

img {
	max-width: 100%;
	height: auto
}

#top-menu li {
	word-wrap: break-word
}

#top-menu li.current-menu-ancestor>a, #top-menu li.current-menu-item>a {
	color: #2ea3f2
}

.nav li ul {
	border-color: #2ea3f2
}

.container {
	width: 80%;
	max-width: 1080px;
	margin: auto
}

.container {
	text-align: left;
	position: relative
}

#main-header {
	line-height: 23px;
	font-weight: 500;
	top: 0;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	position: relative;
	z-index: 99999
}

.et_fixed_nav.et_show_nav #page-container {
	padding-top: 80px
}

.et_fixed_nav #main-header {
	position: fixed
}

.et_header_style_left #et-top-navigation {
	padding-top: 33px
}

.et_header_style_left #et-top-navigation nav>ul>li>a {
	padding-bottom: 33px
}

.et_header_style_left .logo_container {
	position: absolute;
	height: 100%;
	width: 100%
}

#logo {
	margin-bottom: 0;
	max-height: 54%;
	display: inline-block;
	float: none;
	vertical-align: middle;
	-webkit-transform: translateZ(0)
}

span.logo_helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0
}

#top-menu, #top-menu-nav {
	line-height: 0
}

#et-top-navigation {
	font-weight: 600
}

#top-menu, nav#top-menu-nav {
	float: left
}

#top-menu li {
	display: inline-block;
	font-size: 14px;
	padding-right: 22px
}

#top-menu a {
	color: rgba(0, 0, 0, .6);
	text-decoration: none;
	display: block;
	position: relative
}

.et-search-form input {
	width: 90%;
	border: none;
	color: #333;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
	margin: auto;
	background: transparent
}

.container.et_menu_container {
	z-index: 99
}

#et-top-navigation {
	float: right
}

#top-menu li li {
	padding: 0 20px;
	margin: 0
}

#top-menu li li a {
	padding: 6px 20px;
	width: 200px
}

#top-menu .menu-item-has-children>a:first-child:after {
	font-family: ETmodules;
	content: "3";
	font-size: 16px;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 800
}

#top-menu .menu-item-has-children>a:first-child {
	padding-right: 20px
}

#top-menu li .menu-item-has-children>a:first-child {
	padding-right: 40px
}

#top-menu li .menu-item-has-children>a:first-child:after {
	right: 20px;
	top: 6px
}

@@media ( min-width :981px) {
	.et_fullwidth_nav #main-header .container {
		width: 100%;
		max-width: 100%;
		padding-right: 30px;
		padding-left: 30px
	}
}

@@media ( max-width :980px) {
	#page-container, .et_fixed_nav.et_show_nav #page-container {
		padding-top: 80px
	}
	#top-menu {
		display: none
	}
	#et-top-navigation {
		margin-right: 0
	}
	.et_fixed_nav #main-header {
		position: absolute
	}
	.et_header_style_left #et-top-navigation {
		padding-top: 24px;
		display: block
	}
	.et_header_style_left #logo {
		max-width: 50%
	}
}

@@media ( max-width :767px) {
	#et-top-navigation {
		margin-right: 0
	}
}

@@media ( max-width :479px) {
	#et-top-navigation {
		margin-right: 0
	}
}

@@font-face {
	font-family: ETmodules;
	src:
		url(~/assets/wp-content/modules.eot);
	src:
		url(~/assets/wp-content/modules.eot?#iefix)
		format("embedded-opentype"),
		url(~/assets/wp-content/modules.ttf)
		format("truetype"),
		url(~/assets/wp-content/modules.woff)
		format("woff"),
		url(~/assets/wp-content/modules.svg#ETmodules)
		format("svg");
	font-weight: 400;
	font-style: normal
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.nav li li {
	padding: 0 20px;
	margin: 0
}

.nav li {
	position: relative;
	line-height: 1em
}

.nav li li {
	position: relative;
	line-height: 2em
}

.nav li ul {
	position: absolute;
	padding: 20px 0;
	z-index: 9999;
	width: 240px;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	border-top: 3px solid #2ea3f2;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	-webkit-transform: translateZ(0);
	text-align: left
}

.nav li li ul {
	z-index: 1000;
	top: -23px;
	left: 240px
}

.nav li li a {
	font-size: 14px
}

.et_pb_image img {
	position: relative
}

@@media ( min-width :981px) {
	.et_pb_gallery_grid .et_pb_gallery_item img {
		width: 100%
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

#main-header {
	box-shadow: none
}
    </style>
    
   <link rel="preload"
          href="~/assets/css/9641f0a0864df222d504ee43c089d0e0.css"
          as="style" onload="this.onload=null;this.rel='stylesheet'"
          data-minify="1" />
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important
        }
    </style>
    <link rel='preload' id='et-builder-googlefonts-cached-css'
          href='https://fonts.googleapis.com/css?family=Fira+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=latin%2Clatin-ext&#038;display=swap&#038;ver=5.4.2'
          as="style" onload="this.onload=null;this.rel='stylesheet'"
          type='text/css' media='all' />
    <script type='text/javascript'
            src='~/assets/javascript/jquery-1.12.4-wp.js'></script>
    <script type='text/javascript'>/* <![CDATA[ */ var et_core_api_spam_recaptcha = { "site_key": "", "page_action": { "action": "tableaux_de_bord" } }; /* ]]> */</script>
    <link rel='https://api.w.org/' href='' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          href="~/assets/php/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="~/assets/wp-content/wlwmanifest.xml" />
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #fff
        }
    </style>
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PF6Z9PC');</script>
    <link rel="icon" href="~/assets/images/logo-media-concept.jpg" sizes="32x32" />
    <link rel="icon" href="~/assets/images/logo-media-concept.jpg" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/assets/images/logo-media-concept.jpg" />
    <meta name="msapplication-TileImage"
          content="~/assets/images/logo-media-concept.jpg" />
    <style id="et-divi-customizer-global-cached-inline-styles">
		@@media only screen and (min-width:981px) {
	.et_pb_section {
		padding: 3% 0
	}
	.et_pb_fullwidth_section {
		padding: 0
	}
	.et_pb_row {
		padding: 1% 0
	}
	.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation
		{
		padding: 25px 0 0 0
	}
	.et_header_style_left #et-top-navigation nav>ul>li>a,
		.et_header_style_split #et-top-navigation nav>ul>li>a {
		padding-bottom: 25px
	}
	.et_header_style_split .centered-inline-logo-wrap {
		width: 50px;
		margin: -50px 0
	}
	.et_header_style_split .centered-inline-logo-wrap #logo {
		max-height: 50px
	}
	.et_pb_svg_logo.et_header_style_split .centered-inline-logo-wrap #logo {
		height: 50px
	}
	.et_header_style_centered #top-menu>li>a {
		padding-bottom: 9px
	}
	.et_header_style_slide #et-top-navigation, .et_header_style_fullscreen #et-top-navigation
		{
		padding: 16px 0 16px 0 !important
	}
	.et_header_style_centered #main-header .logo_container {
		height: 50px
	}
	#logo {
		max-height: 65%
	}
	.et_pb_svg_logo #logo {
		height: 65%
	}
	.et_header_style_centered.et_hide_primary_logo #main-header:not(.et-fixed-header
		 ) .logo_container, .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container
		{
		height: 9px
	}
	.et_header_style_left .et-fixed-header #et-top-navigation,
		.et_header_style_split .et-fixed-header #et-top-navigation {
		padding: 26px 0 0 0
	}
	.et_header_style_left .et-fixed-header #et-top-navigation nav>ul>li>a,
		.et_header_style_split .et-fixed-header #et-top-navigation nav>ul>li>a
		{
		padding-bottom: 26px
	}
	.et_header_style_centered header#main-header.et-fixed-header .logo_container
		{
		height: 51px
	}
	.et_header_style_split #main-header.et-fixed-header .centered-inline-logo-wrap
		{
		width: 51px;
		margin: -51px 0
	}
	.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo
		{
		max-height: 51px
	}
	.et_pb_svg_logo.et_header_style_split .et-fixed-header .centered-inline-logo-wrap #logo
		{
		height: 51px
	}
	.et_header_style_slide .et-fixed-header #et-top-navigation,
		.et_header_style_fullscreen .et-fixed-header #et-top-navigation {
		padding: 17px 0 17px 0 !important
	}
	.et-fixed-header#top-header, .et-fixed-header#top-header #et-secondary-nav li ul
		{
		background-color: #fff
	}
	.et-fixed-header #top-menu li a {
		font-size: 14px
	}
	.et-fixed-header #top-menu a, .et-fixed-header #et_search_icon:before,
		.et-fixed-header #et_top_search .et-search-form input,
		.et-fixed-header .et_search_form_container input, .et-fixed-header .et_close_search_field:after,
		.et-fixed-header #et-top-navigation .et-cart-info {
		color: #413e41 !important
	}
	.et-fixed-header .et_search_form_container input::-moz-placeholder {
		color: #413e41 !important
	}
	.et-fixed-header .et_search_form_container input::-webkit-input-placeholder
		{
		color: #413e41 !important
	}
	.et-fixed-header .et_search_form_container input:-ms-input-placeholder {
		color: #413e41 !important
	}
	.et-fixed-header #top-menu li.current-menu-ancestor>a, .et-fixed-header #top-menu li.current-menu-item>a
		{
		color: #e03a3e !important
	}
	.et-fixed-header#top-header a {
		color: #413e41
	}
}

@@media only screen and (min-width:1676px) {
	.et_pb_row {
		padding: 16px 0
	}
	.et_pb_section {
		padding: 50px 0
	}
	.single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper
		{
		padding-top: 50px
	}
	.et_pb_fullwidth_section {
		padding: 0
	}
}
        body, .et_pb_column_1_2 .et_quote_content blockquote cite,
        .et_pb_column_1_2 .et_link_content a.et_link_main_url,
        .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite,
        .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite,
        .et_pb_column_1_3 .et_link_content a.et_link_main_url,
        .et_pb_column_3_8 .et_link_content a.et_link_main_url,
        .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url,
        body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
            font-size: 16px
        }

        .et_pb_slide_content, .et_pb_best_value {
            font-size: 18px
        }

        body {
            color: #413e41
        }

        h1, h2, h3, h4, h5, h6 {
            color: #413e41
        }

        body {
            line-height: 2em
        }

        .woocommerce #respond input#submit, .woocommerce-page #respond input#submit,
        .woocommerce #content input.button, .woocommerce-page #content input.button,
        .woocommerce-message, .woocommerce-error, .woocommerce-info {
            background: #017eba !important
        }

        #et_search_icon:hover, .mobile_menu_bar:before, .mobile_menu_bar:after,
        .et_toggle_slide_menu:after, .et-social-icon a:hover, .et_pb_sum,
        .et_pb_pricing li a, .et_pb_pricing_table_button, .et_overlay:before,
        .entry-summary p.price ins, .woocommerce div.product span.price,
        .woocommerce-page div.product span.price, .woocommerce #content div.product span.price,
        .woocommerce-page #content div.product span.price, .woocommerce div.product p.price,
        .woocommerce-page div.product p.price, .woocommerce #content div.product p.price,
        .woocommerce-page #content div.product p.price,
        .et_pb_member_social_links a:hover, .woocommerce .star-rating span:before,
        .woocommerce-page .star-rating span:before, .et_pb_widget li a:hover,
        .et_pb_filterable_portfolio .et_pb_portfolio_filters li a.active,
        .et_pb_filterable_portfolio .et_pb_portofolio_pagination ul li a.active,
        .et_pb_gallery .et_pb_gallery_pagination ul li a.active, .wp-pagenavi span.current,
        .wp-pagenavi a:hover, .nav-single a, .tagged_as a, .posted_in a {
            color: #017eba
        }

        .et_pb_contact_submit, .et_password_protected_form .et_submit_button,
        .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link,
        .form-submit .et_pb_button, .et_pb_bg_layout_light .et_pb_promo_button,
        .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt,
        .woocommerce-page a.button.alt, .woocommerce button.button.alt,
        .woocommerce button.button.alt.disabled, .woocommerce-page button.button.alt,
        .woocommerce-page button.button.alt.disabled, .woocommerce input.button.alt,
        .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt,
        .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt,
        .woocommerce-page #content input.button.alt, .woocommerce a.button,
        .woocommerce-page a.button, .woocommerce button.button,
        .woocommerce-page button.button, .woocommerce input.button,
        .woocommerce-page input.button, .et_pb_contact p input[type="checkbox"]:checked + label i:before,
        .et_pb_bg_layout_light.et_pb_module.et_pb_button {
            color: #017eba
        }

        .footer-widget h4 {
            color: #017eba
        }

        .et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before,
        .et_pb_pricing li:before, blockquote {
            border-color: #017eba
        }

        .et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading,
        .et_quote_content, .et_link_content, .et_audio_content,
        .et_pb_post_slider.et_pb_bg_layout_dark, .et_slide_in_menu_container,
        .et_pb_contact p input[type="radio"]:checked + label i:before {
            background-color: #017eba
        }

        .container, .et_pb_row, .et_pb_slider .et_pb_container,
        .et_pb_fullwidth_section .et_pb_title_container,
        .et_pb_fullwidth_section .et_pb_title_featured_container,
        .et_pb_fullwidth_header:not(.et_pb_fullscreen ) .et_pb_fullwidth_header_container {
            max-width: 1341px
        }

        .et_boxed_layout #page-container, .et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #top-header,
        .et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #main-header,
        .et_fixed_nav.et_boxed_layout #page-container #top-header,
        .et_fixed_nav.et_boxed_layout #page-container #main-header,
        .et_boxed_layout #page-container .container, .et_boxed_layout #page-container .et_pb_row {
            max-width: 1501px
        }

        a {
            color: #017eba
        }

        #top-header, #et-secondary-nav li ul {
            background-color: #fff
        }

            #top-header, #top-header a {
                color: #413e41
            }

        .et_header_style_centered .mobile_nav .select_page,
        .et_header_style_split .mobile_nav .select_page,
        .et_nav_text_color_light #top-menu > li > a, .et_nav_text_color_dark #top-menu > li > a,
        #top-menu a, .et_mobile_menu li a, .et_nav_text_color_light .et_mobile_menu li a,
        .et_nav_text_color_dark .et_mobile_menu li a, #et_search_icon:before,
        .et_search_form_container input, span.et_close_search_field:after,
        #et-top-navigation .et-cart-info {
            color: #413e41
        }

            .et_search_form_container input::-moz-placeholder {
                color: #413e41
            }

            .et_search_form_container input::-webkit-input-placeholder {
                color: #413e41
            }

            .et_search_form_container input:-ms-input-placeholder {
                color: #413e41
            }

        #top-header, #top-header a, #et-secondary-nav li li a, #top-header .et-social-icon a:before {
            font-size: 14px
        }

        #top-menu li a {
            font-size: 16px
        }

        body.et_vertical_nav .container.et_search_form_container .et-search-form input {
            font-size: 16px !important
        }

        #top-menu li a, .et_search_form_container input {
            font-weight: 700;
            font-style: normal;
            text-transform: none;
            text-decoration: none
        }

            .et_search_form_container input::-moz-placeholder {
                font-weight: 700;
                font-style: normal;
                text-transform: none;
                text-decoration: none
            }

            .et_search_form_container input::-webkit-input-placeholder {
                font-weight: 700;
                font-style: normal;
                text-transform: none;
                text-decoration: none
            }

            .et_search_form_container input:-ms-input-placeholder {
                font-weight: 700;
                font-style: normal;
                text-transform: none;
                text-decoration: none
            }

        #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a,
        .et_color_scheme_red #top-menu li.current-menu-ancestor > a,
        .et_color_scheme_red #top-menu li.current-menu-item > a,
        .et_color_scheme_pink #top-menu li.current-menu-ancestor > a,
        .et_color_scheme_pink #top-menu li.current-menu-item > a,
        .et_color_scheme_orange #top-menu li.current-menu-ancestor > a,
        .et_color_scheme_orange #top-menu li.current-menu-item > a,
        .et_color_scheme_green #top-menu li.current-menu-ancestor > a,
        .et_color_scheme_green #top-menu li.current-menu-item > a {
            color: #017eba
        }

        #main-footer {
            background-color: #32373c
        }

        #footer-widgets .footer-widget a, #footer-widgets .footer-widget li a,
        #footer-widgets .footer-widget li a:hover {
            color: #fff
        }

        .footer-widget {
            color: #fff
        }

        #main-footer .footer-widget h4 {
            color: #017eba
        }

        .footer-widget li:before {
            border-color: #fff
        }

        .footer-widget .et_pb_widget div, .footer-widget .et_pb_widget ul,
        .footer-widget .et_pb_widget ol, .footer-widget .et_pb_widget label {
            line-height: 1.7em
        }

        #footer-widgets .footer-widget li:before {
            top: 10.6px
        }

        #et-footer-nav {
            background-color: rgba(50, 55, 60, .05)
        }

        .bottom-nav, .bottom-nav a, .bottom-nav li.current-menu-item a {
            color: #fff
        }

        #et-footer-nav .bottom-nav li.current-menu-item a {
            color: #017eba
        }

        .bottom-nav, .bottom-nav a {
            font-size: 12px
        }

        #footer-bottom {
            background-color: rgba(50, 55, 60, .32)
        }

            #footer-bottom .et-social-icon a {
                color: #fff
            }

        body.et_pb_button_helper_class .et_pb_button, body.et_pb_button_helper_class .et_pb_module.et_pb_button,
        .woocommerce.et_pb_button_helper_class a.button.alt, .woocommerce-page.et_pb_button_helper_class a.button.alt,
        .woocommerce.et_pb_button_helper_class button.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt.disabled,
        .woocommerce-page.et_pb_button_helper_class button.button.alt,
        .woocommerce-page.et_pb_button_helper_class button.button.alt.disabled,
        .woocommerce.et_pb_button_helper_class input.button.alt,
        .woocommerce-page.et_pb_button_helper_class input.button.alt,
        .woocommerce.et_pb_button_helper_class #respond input#submit.alt,
        .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt,
        .woocommerce.et_pb_button_helper_class #content input.button.alt,
        .woocommerce-page.et_pb_button_helper_class #content input.button.alt,
        .woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button,
        .woocommerce.et_pb_button_helper_class button.button, .woocommerce-page.et_pb_button_helper_class button.button,
        .woocommerce.et_pb_button_helper_class input.button, .woocommerce-page.et_pb_button_helper_class input.button,
        .woocommerce.et_pb_button_helper_class #respond input#submit,
        .woocommerce-page.et_pb_button_helper_class #respond input#submit,
        .woocommerce.et_pb_button_helper_class #content input.button,
        .woocommerce-page.et_pb_button_helper_class #content input.button {
            color: #000
        }

        h1, h2, h3, h4, h5, h6, .et_quote_content blockquote p,
        .et_pb_slide_description .et_pb_slide_title {
            font-weight: 700;
            font-style: normal;
            text-transform: none;
            text-decoration: none
        }

        .et_slide_in_menu_container, .et_slide_in_menu_container .et-search-field {
            letter-spacing: px
        }

            .et_slide_in_menu_container .et-search-field::-moz-placeholder {
                letter-spacing: px
            }

            .et_slide_in_menu_container .et-search-field::-webkit-input-placeholder {
                letter-spacing: px
            }

            .et_slide_in_menu_container .et-search-field:-ms-input-placeholder {
                letter-spacing: px
            }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif
        }

        body, input, textarea, select {
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif
        }

        #main-header, #et-top-navigation {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif
        }

        #top-header .container {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif
        }
    </style>
    
	<noscript>
        <style id="rocket-lazyload-nojs-css">
            .rll-youtube-player, [data-lazy-src] {
                display: none !important
            }
        </style>
    </noscript>
    <script>
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        (function (w) {
            "use strict";
            if (!w.loadCSS) {
                w.loadCSS = function () {
                }
            }
            var rp = loadCSS.relpreload = {};
            rp.support = (function () {
                var ret;
                try {
                    ret = w.document.createElement("link").relList
                        .supports("preload")
                } catch (e) {
                    ret = !1
                }
                return function () {
                    return ret
                }
            })();
            rp.bindMediaToggle = function (link) {
                var finalMedia = link.media || "all";
                function enableStylesheet() {
                    link.media = finalMedia
                }
                if (link.addEventListener) {
                    link.addEventListener("load", enableStylesheet)
                } else if (link.attachEvent) {
                    link.attachEvent("onload", enableStylesheet)
                }
                setTimeout(function () {
                    link.rel = "stylesheet";
                    link.media = "only x"
                });
                setTimeout(enableStylesheet, 3000)
            };
            rp.poly = function () {
                if (rp.support()) {
                    return
                }
                var links = w.document.getElementsByTagName("link");
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    if (link.rel === "preload"
                        && link.getAttribute("as") === "style"
                        && !link.getAttribute("data-loadcss")) {
                        link.setAttribute("data-loadcss", !0);
                        rp.bindMediaToggle(link)
                    }
                }
            };
            if (!rp.support()) {
                rp.poly();
                var run = w.setInterval(rp.poly, 500);
                if (w.addEventListener) {
                    w.addEventListener("load", function () {
                        rp.poly();
                        w.clearInterval(run)
                    })
                } else if (w.attachEvent) {
                    w.attachEvent("onload", function () {
                        rp.poly();
                        w.clearInterval(run)
                    })
                }
            }
            if (typeof exports !== "undefined") {
                exports.loadCSS = loadCSS
            } else {
                w.loadCSS = loadCSS
            }
        }(typeof global !== "undefined" ? global : this))
    </script>
</head>
<body class="page-template-default page page-id-4501 custom-background et_pb_button_helper_class et_fullwidth_nav et_fullwidth_secondary_nav et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_smooth_scroll et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css">
    <div id="page-container">
        <header id="main-header" data-height-onload="50">
            <div class="container clearfix et_menu_container">
                <div class="logo_container">
                    <span class="logo_helper"></span> <a href="@Url.Action("Index","Home")">
                        <img src="~/assets/images/logo-media-concept.jpg" alt="Interal" id="logo"
                             data-height-percentage="65" />
                    </a>
                </div>
                <div id="et-top-navigation" data-height="50" data-fixed-height="51">
                    <nav id="top-menu-nav">

                        <ul id="top-menu" class="nav">

                            <li id="menu-item-746"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-746">
                                <a href="">Produits</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-5067"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5067">
                                        <a href="">Maintenance</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-747"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-747">
                                                <a href="">GMAO</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-5132"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5132">
                                                        <a>
                                                            @Html.ActionLink("Maintenance corrective", "MaintenanceCorrective", "Home")

                                                        </a>
                                                    </li>
                                                    <li id="menu-item-5121"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5121">
                                                        <a>
                                                            @Html.ActionLink("Maintenance préventive", "MaintenancePreventive", "Home")
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-5068"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5068">
                                                <a>
                                                    @Html.ActionLink("Tableaux de bord", "TableauxDeBord", "Home")
                                                </a>
                                            </li>
                                            <li id="menu-item-4128"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4128">
                                                <a>
                                                    @Html.ActionLink("Bons de travail", "BonsDeTravail", "Home")
                                                </a>
                                            </li>
                                            <li id="menu-item-4131"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131">
                                                <a>
                                                     @Html.ActionLink("Planification", "Planification", "Home")
                                                </a>
                                            </li>                                            
                                        </ul>
                                    </li>
                                    <li id="menu-item-5071"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5071">
                                        <a href="">Production</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-1996"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1996">
                                                <a>@Html.ActionLink("Gestion production", "GestionProduction", "Home")</a>
                                            </li>
                                            <li id="menu-item-4134"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4134">
                                                <a>@Html.ActionLink("Produits", "Produits", "Home")</a>
                                            </li>
                                            <li id="menu-item-4133"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4133">
                                                <a>@Html.ActionLink("Clients", "Clients", "Home")</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li id="menu-item-748"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-748">
                                <a href="#">Services</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-1697"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1697">
                                        <a href="">Implantation et formation</a>
                                    </li>
                                    <li id="menu-item-1539"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1539">
                                        <a href="">Hébergement</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-749"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-749">
                                <a>@Html.ActionLink("À Propos", "About", "Home")</a>
                            </li>
                            <li id="menu-item-4211"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4211">
                                <a>@Html.ActionLink("Contact", "Contact", "Home")</a>
                            </li>
                            <li id="menu-item-4210"
                                class="telmenu menu-item menu-item-type-custom menu-item-object-custom menu-item-4210">
                                <a href="tel:216-55-180-502">+216 55 180 502</a>
                            </li>
                            <li id="menu-item-wpml-ls-3-en"
                                class="menu-item wpml-ls-slot-3 wpml-ls-item wpml-ls-item-en wpml-ls-menu-item wpml-ls-first-item wpml-ls-last-item menu-item-type-wpml_ls_menu_item menu-item-object-wpml_ls_menu_item menu-item-wpml-ls-3-en">
                                <a title="English" href="/en/">
                                    <span class="wpml-ls-native" lang="en">English</span>
                                </a>
                            </li>
                        </ul>

                    </nav>
                    <div id="et_mobile_nav_menu">
                        <div class="mobile_nav closed">
                            <span class="select_page">Sélectionner une page</span> <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                        </div>
                    </div>
                </div>
            
			</div>
            <div class="et_search_outer">
                <div class="container et_search_form_container">
                    <form role="search" method="get" class="et-search-form"
                          action="">
                        <input type="search" class="et-search-field"
                               placeholder="Rechercher &hellip;" value="" name="s"
                               title="Rechercher:" /><input type='hidden' name='lang'
                                                            value='fr' />
                    </form>
                    <span class="et_close_search_field"></span>
                </div>
            </div>
        </header>

        <div id="et-main-area">
            <div>
                @RenderBody()
            </div>

            <footer id="main-footer">
                <div id="footer-bottom">
                    <div class="container clearfix"></div>
                </div>
            </footer>
        </div>

    </div>
    <script type="text/javascript">
        var et_animation_data = [{
            "class": "et_pb_column_14",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_14",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_15",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_15",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_16",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_16",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_17",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_17",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_18",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_18",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_19",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_19",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_20",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_20",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_21",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_21",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_column_22",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_text_22",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }, {
            "class": "et_pb_button_2",
            "style": "fade",
            "repeat": "once",
            "duration": "1000ms",
            "delay": "0ms",
            "intensity": "50%",
            "starting_opacity": "0%",
            "speed_curve": "ease-in-out"
        }];
        var et_link_options_data = [
            {
                "class": "et_pb_column_14",
                "url": "\/dashboards\/",
                "target": "_self"
            },
            {
                "class": "et_pb_text_14",
                "url": "https:\/\/www.interal.com\/fr\/tableaux-de-bord\/",
                "target": "_self"
            },
            {
                "class": "et_pb_column_15",
                "url": "\/cmms-work-orders\/",
                "target": "_self"
            },
            {
                "class": "et_pb_text_15",
                "url": "https:\/\/www.interal.com\/fr\/gmao-bons-de-travail\/",
                "target": "_self"
            },
            {
                "class": "et_pb_column_16",
                "url": "\/cmms-planning\/",
                "target": "_self"
            },
            {
                "class": "et_pb_text_16",
                "url": "https:\/\/www.interal.com\/fr\/planification-gmao\/",
                "target": "_self"
            },
            {
                "class": "et_pb_column_17",
                "url": "\/equipment-and-safety\/",
                "target": "_self"
            },
            {
                "class": "et_pb_text_17",
                "url": "https:\/\/www.interal.com\/fr\/equipements-et-securite\/",
                "target": "_self"
            },
            {
                "class": "et_pb_column_18",
                "url": "\/cmms-mobility\/",
                "target": "_self"
            },
            {
                "class": "et_pb_text_18",
                "url": "https:\/\/www.interal.com\/fr\/gmao-mobilite\/",
                "target": "_self"
            },
            {
                "class": "et_pb_column_19",
                "url": "\/cmms-requestors-technicians\/",
                "target": "_self"
            },
            {
                "class": "et_pb_text_19",
                "url": "https:\/\/www.interal.com\/fr\/gmao-demandeurs-et-techniciens\/",
                "target": "_self"
            }, {
                "class": "et_pb_column_20",
                "url": "\/erp-integration\/",
                "target": "_self"
            }, {
                "class": "et_pb_text_20",
                "url": "https:\/\/www.interal.com\/fr\/integration-erp\/",
                "target": "_self"
            }, {
                "class": "et_pb_column_21",
                "url": "\/personalization\/",
                "target": "_self"
            }, {
                "class": "et_pb_text_21",
                "url": "https:\/\/www.interal.com\/fr\/personalisation\/",
                "target": "_self"
            }, {
                "class": "et_pb_column_22",
                "url": "\/reports\/",
                "target": "_self"
            }, {
                "class": "et_pb_text_22",
                "url": "https:\/\/www.interal.com\/fr\/rapports\/",
                "target": "_self"
            }];
    </script>
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=UA-459704-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-459704-1');
    </script>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF6Z9PC"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script type='text/javascript'>
                /* <![CDATA[ */var DIVI = {
                "item_count": "%d Item",
                "items_count": "%d Items"
            };
            var et_shortcodes_strings = {
                "previous": "Pr\u00e9c\u00e9dent",
                "next": "Suivant"
            };
            var et_pb_custom = {
                "ajaxurl": "https:\/\/www.interal.com\/wp-admin\/admin-ajax.php",
                "images_uri": "https:\/\/www.interal.com\/wp-content\/themes\/Divi\/images",
                "builder_images_uri": "https:\/\/www.interal.com\/wp-content\/themes\/Divi\/includes\/builder\/images",
                "et_frontend_nonce": "e76aed3934",
                "subscription_failed": "Veuillez v\u00e9rifier les champs ci-dessous pour vous assurer que vous avez entr\u00e9 les informations correctes.",
                "et_ab_log_nonce": "2a63cee838",
                "fill_message": "S'il vous pla\u00eet, remplissez les champs suivants:",
                "contact_error_message": "Veuillez corriger les erreurs suivantes :",
                "invalid": "E-mail non valide",
                "captcha": "Captcha",
                "prev": "Pr\u00e9c\u00e9dent",
                "previous": "Pr\u00e9c\u00e9dente",
                "next": "Prochaine",
                "wrong_captcha": "Vous avez entr\u00e9 le mauvais num\u00e9ro dans le captcha.",
                "wrong_checkbox": "Checkbox",
                "ignore_waypoints": "no",
                "is_divi_theme_used": "1",
                "widget_search_selector": ".widget_search",
                "ab_tests": [],
                "is_ab_testing_active": "",
                "page_id": "4501",
                "unique_test_id": "",
                "ab_bounce_rate": "5",
                "is_cache_plugin_active": "yes",
                "is_shortcode_tracking": "",
                "tinymce_uri": ""
            };
            var et_frontend_scripts = {
                "builderCssContainerPrefix": "#et-boc",
                "builderCssLayoutPrefix": "#et-boc .et-l"
            };
            var et_pb_box_shadow_elements = [];
            var et_pb_motion_elements = {
                "desktop": [],
                "tablet": [],
                "phone": []
            }; /* ]]> */
    </script>
    <style id="et-builder-module-design-4501-cached-inline-styles">
        @@media only screen and (min-width:981px) {
	.et_pb_row_12, body #page-container .et-db #et-boc .et-l .et_pb_row_12.et_pb_row,
		body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_12.et_pb_row,
		body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_12.et_pb_row
		{
		width: 89%;
		max-width: 89%
	}
}

@@media only screen and (max-width:980px) {
	body #page-container .et_pb_section .et_pb_button_0:before {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1.3em;
		right: auto;
		display: inline-block;
		opacity: 1;
		content: attr(data-icon);
		font-family: "ETmodules" !important
	}
	body #page-container .et_pb_section .et_pb_button_2:before {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1.3em;
		right: auto;
		display: inline-block;
		opacity: 1;
		content: attr(data-icon);
		font-family: "ETmodules" !important
	}
	body #page-container .et_pb_section .et_pb_button_0:after {
		display: none
	}
	body #page-container .et_pb_section .et_pb_button_2:after {
		display: none
	}
	body #page-container .et_pb_section .et_pb_button_0:hover:before {
		margin-left: .3em;
		right: auto;
		margin-left: -1.3em
	}
	body #page-container .et_pb_section .et_pb_button_2:hover:before {
		margin-left: .3em;
		right: auto;
		margin-left: -1.3em
	}
	.et_pb_image_13 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_12 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_11 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_10 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_9 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_8 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_7 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_6 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_5 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_4 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_3 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_2 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_1 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_0 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_row_12, body #page-container .et-db #et-boc .et-l .et_pb_row_12.et_pb_row,
		body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_12.et_pb_row,
		body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_12.et_pb_row
		{
		width: 80%;
		max-width: 80%
	}
	.et_pb_image_14 {
		text-align: center;
		margin-left: auto;
		margin-right: auto
	}
}

@@media only screen and (max-width:767px) {
	body #page-container .et_pb_section .et_pb_button_0:before {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1.3em;
		right: auto;
		display: inline-block;
		opacity: 1;
		content: attr(data-icon);
		font-family: "ETmodules" !important
	}
	body #page-container .et_pb_section .et_pb_button_2:before {
		line-height: inherit;
		font-size: inherit !important;
		margin-left: -1.3em;
		right: auto;
		display: inline-block;
		opacity: 1;
		content: attr(data-icon);
		font-family: "ETmodules" !important
	}
	body #page-container .et_pb_section .et_pb_button_2:after {
		display: none
	}
	body #page-container .et_pb_section .et_pb_button_0:after {
		display: none
	}
	body #page-container .et_pb_section .et_pb_button_0:hover:before {
		margin-left: .3em;
		right: auto;
		margin-left: -1.3em
	}
	body #page-container .et_pb_section .et_pb_button_2:hover:before {
		margin-left: .3em;
		right: auto;
		margin-left: -1.3em
	}
	.et_pb_image_9 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_13 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_12 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_11 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_10 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_7 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_8 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_6 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_5 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_4 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_3 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_2 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_1 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_0 {
		margin-left: auto;
		margin-right: auto
	}
	.et_pb_image_14 {
		margin-left: auto;
		margin-right: auto
	}
}
		.et_pb_section_0.et_pb_section {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0
        }

        .et_pb_section_0 {
            width: 100%
        }

        .et_pb_image_14 .et_pb_image_wrap, .et_pb_image_14 img {
            width: 100%
        }

        .et_pb_section_1 {
            width: 100%
        }

            .et_pb_section_1.et_pb_section {
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                background-color: #f2f2f2 !important
            }

        .et_pb_row_0, body #page-container .et-db #et-boc .et-l .et_pb_row_0.et_pb_row,
        body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0.et_pb_row,
        body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_0.et_pb_row {
            width: 100%;
            max-width: 2560px
        }

        .et_pb_post_title_0 .et_pb_title_container h1.entry-title,
        .et_pb_post_title_0 .et_pb_title_container h2.entry-title,
        .et_pb_post_title_0 .et_pb_title_container h3.entry-title,
        .et_pb_post_title_0 .et_pb_title_container h4.entry-title,
        .et_pb_post_title_0 .et_pb_title_container h5.entry-title,
        .et_pb_post_title_0 .et_pb_title_container h6.entry-title {
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 1px;
            text-align: left;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 1px;
            text-align: left
        }

        .et_pb_section .et_pb_post_title_0.et_pb_post_title {
            margin-top: 48px !important;
            margin-bottom: 8px !important;
            margin-top: 48px !important;
            margin-bottom: 8px !important
        }

        .et_pb_divider_0 {
            background-color: rgba(0, 0, 0, 0);
            margin-bottom: 30px !important;
            width: 80px
        }

            .et_pb_divider_0:before {
                border-top-color: #017eba;
                border-top-width: 4px
            }

        .et_pb_section_2.et_pb_section {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0
        }

        .et_pb_section_3.et_pb_section {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: #017eba !important
        }

        .et_pb_text_9 h2 {
            text-align: center
        }

        .et_pb_text_9 h3 {
            text-align: center
        }

        .et_pb_text_9 h4 {
            text-align: center
        }

        .et_pb_text_9 h1 {
            text-align: center
        }

        .et_pb_text_0 h1 {
            text-align: center
        }

        .et_pb_text_0 h2 {
            font-size: 28px;
            color: #ffffff !important;
            text-align: left
        }

        .et_pb_text_0 {
            margin-top: 14px !important
        }

        .et_pb_button_0_wrapper .et_pb_button_0, .et_pb_button_0_wrapper .et_pb_button_0:hover {
            padding-right: 24px !important;
            padding-left: 50px !important
        }

        body #page-container .et_pb_section .et_pb_button_0 {
            color: #ffffff !important;
            border-radius: 0;
            font-size: 21px
        }

            body #page-container .et_pb_section .et_pb_button_0:after {
                display: none
            }

        body #page-container .et_pb_section .et_pb_button_2:after {
            display: none
        }

        body #page-container .et_pb_section .et_pb_button_0:before {
            content: attr(data-icon);
            font-family: "ETmodules" !important;
            line-height: inherit;
            font-size: inherit !important;
            opacity: 1;
            margin-left: -1.3em;
            right: auto;
            display: inline-block
        }

        body #page-container .et_pb_section .et_pb_button_0:hover:before {
            margin-left: .3em;
            right: auto;
            margin-left: -1.3em
        }

        body #page-container .et_pb_section .et_pb_button_2:hover:before {
            margin-left: .3em;
            right: auto;
            margin-left: -1.3em
        }

        .et_pb_button_2, .et_pb_button_2:after {
            transition: all 300ms ease 0ms
        }

        .et_pb_button_0, .et_pb_button_0:after {
            transition: all 300ms ease 0ms
        }

        .et_pb_button_1, .et_pb_button_1:after {
            transition: all 300ms ease 0ms
        }

        .et_pb_text_13 h2 {
            font-size: 32px;
            text-align: center
        }

        .et_pb_text_1 h2 {
            font-size: 32px;
            text-align: center
        }

        .et_pb_text_8 h2 {
            font-size: 32px;
            text-align: center
        }

        .et_pb_text_13 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 12px !important;
            margin-left: 0px !important
        }

        .et_pb_text_1 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 12px !important;
            margin-left: 0px !important
        }

        .et_pb_text_8 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 12px !important;
            margin-left: 0px !important
        }

        .et_pb_divider_1 {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            width: 80px
        }

        .et_pb_divider_3 {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            width: 80px
        }

        .et_pb_divider_2 {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            width: 80px
        }

        .et_pb_divider_1:before {
            border-top-color: #017eba;
            border-top-width: 4px;
            width: auto;
            top: 0;
            right: 0;
            left: 0
        }

        .et_pb_divider_3:before {
            border-top-color: #017eba;
            border-top-width: 4px;
            width: auto;
            top: 0;
            right: 0;
            left: 0
        }

        .et_pb_divider_2:before {
            border-top-color: #017eba;
            border-top-width: 4px;
            width: auto;
            top: 0;
            right: 0;
            left: 0
        }

        .et_pb_image_0 {
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            width: 90%;
            text-align: left;
            margin-left: 0
        }

        .et_pb_text_2 {
            padding-bottom: 0px !important;
            margin-top: 90px !important;
            margin-bottom: 0px !important
        }

        .et_pb_text_3 h3 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2em
        }

        .et_pb_text_3 {
            padding-bottom: 0px !important;
            margin-bottom: 0px !important
        }

        .et_pb_text_4 h4 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 500;
            line-height: 1.2em
        }

        .et_pb_text_4 {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important
        }

        .et_pb_text_5 {
            line-height: 1.6em
        }

            .et_pb_text_5 p {
                line-height: 1.6em
            }

        .et_pb_image_1 {
            margin-top: 18px !important;
            text-align: left;
            margin-left: 0
        }

        .et_pb_text_6 {
            padding-bottom: 0px !important;
            margin-bottom: 4px !important
        }

        .et_pb_text_11 {
            padding-bottom: 0px !important;
            margin-bottom: 4px !important
        }

        .et_pb_text_22 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_21 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_20 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_19 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_18 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_17 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_16 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_15 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_14 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_9 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_10 h3 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2em;
            text-align: center
        }

        .et_pb_image_2 {
            text-align: left;
            margin-left: 0
        }

        .et_pb_image_3 {
            text-align: left;
            margin-left: 0
        }

        .et_pb_section_7.et_pb_section {
            padding-top: 40px;
            padding-bottom: 30px
        }

        .et_pb_section_8.et_pb_section {
            padding-top: 40px;
            padding-bottom: 30px;
            background-color: #f2f2f2 !important
        }

        .et_pb_section_8.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI2MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMTQwVjBIMGwxMjgwIDE0MHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMTI4MCA5OFYwSDBsMTI4MCA5OHoiLz48L2c+PC9zdmc+);
            background-size: 100% 60px;
            top: 0;
            height: 60px;
            z-index: 1
        }

        .et_pb_image_4 {
            margin-top: 0px !important;
            margin-bottom: 18px !important;
            text-align: center
        }

        .et_pb_image_10 {
            margin-top: 0px !important;
            margin-bottom: 18px !important;
            text-align: center
        }

        .et_pb_image_9 {
            margin-top: 0px !important;
            margin-bottom: 18px !important;
            text-align: center
        }

        .et_pb_image_8 {
            margin-top: 0px !important;
            margin-bottom: 18px !important;
            text-align: center
        }

        .et_pb_image_5 {
            margin-top: 0px !important;
            margin-bottom: 18px !important;
            text-align: center
        }

        .et_pb_image_7 {
            margin-top: 0px !important;
            margin-bottom: 18px !important;
            text-align: center
        }

        .et_pb_image_9 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_7 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_4 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_11 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_10 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_5 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_12 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_8 .et_pb_image_wrap {
            display: block
        }

        .et_pb_image_6 .et_pb_image_wrap {
            display: block
        }

        .et_pb_text_17 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_19 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_15 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_18 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_20 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_22 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_16 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_21 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_text_14 h4 {
            font-weight: 600;
            font-size: 21px;
            color: #017eba !important;
            text-align: center
        }

        .et_pb_image_6 {
            margin-top: 12px !important;
            margin-bottom: 24px !important;
            width: 80px;
            text-align: center
        }

        .et_pb_image_11 {
            margin-top: 12px !important;
            margin-bottom: 24px !important;
            width: 80px;
            text-align: center
        }

        .et_pb_image_12 {
            margin-top: 12px !important;
            margin-bottom: 24px !important;
            width: 80px;
            text-align: center
        }

        .et_pb_section_9.et_pb_section {
            background-color: #32373c !important
        }

        .et_pb_image_13 {
            padding-bottom: 10px;
            text-align: center
        }

        .et_pb_button_1_wrapper .et_pb_button_1, .et_pb_button_1_wrapper .et_pb_button_1:hover {
            padding-top: 0px !important;
            padding-right: 12px !important;
            padding-bottom: 0px !important;
            padding-left: 12px !important
        }

        .et_pb_button_1_wrapper {
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        body #page-container .et_pb_section .et_pb_button_1 {
            color: #ffffff !important;
            border-width: 0px !important;
            border-color: rgba(0, 0, 0, 0);
            border-radius: 0;
            font-size: 21px;
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif !important;
            font-style: italic !important;
            background-color: rgba(0, 0, 0, 0)
        }

            body #page-container .et_pb_section .et_pb_button_1:before, body #page-container .et_pb_section .et_pb_button_1:after {
                display: none !important
            }

        .et_pb_social_media_follow li.et_pb_social_media_follow_network_0 {
            text-align: center
        }

        .et_pb_social_media_follow_network_0.et_pb_social_network_link a.icon {
            text-align: center
        }

        .et_pb_social_media_follow .et_pb_social_media_follow_network_0.et_pb_social_icon .icon:before {
            color: #413e41
        }

        .et_pb_social_media_follow .et_pb_social_media_follow_network_0 .icon:before {
            font-size: 18px;
            line-height: 36px;
            height: 36px;
            width: 36px
        }

        .et_pb_social_media_follow .et_pb_social_media_follow_network_0 .icon {
            height: 36px;
            width: 36px
        }

        ul.et_pb_social_media_follow_0 {
            padding-left: 50% !important;
            margin-top: 20px !important
        }

        .et_pb_text_27.et_pb_text {
            color: #ffffff !important
        }

        .et_pb_text_25.et_pb_text {
            color: #ffffff !important
        }

        .et_pb_text_23.et_pb_text {
            color: #ffffff !important
        }

        .et_pb_text_23 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
            font-size: 18px;
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_25 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
            font-size: 18px;
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_27 {
            font-family: 'Fira Sans', Helvetica, Arial, Lucida, sans-serif;
            font-size: 18px;
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_text_24 {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important
        }

        .et_pb_button_2_wrapper .et_pb_button_2, .et_pb_button_2_wrapper .et_pb_button_2:hover {
            padding-top: 12px !important;
            padding-right: 18px !important;
            padding-bottom: 12px !important;
            padding-left: 36px !important
        }

        body #page-container .et_pb_section .et_pb_button_2 {
            border-radius: 0;
            font-size: 16px
        }

            body #page-container .et_pb_section .et_pb_button_2:before {
                content: attr(data-icon);
                font-family: "ETmodules" !important;
                color: #fff;
                line-height: inherit;
                font-size: inherit !important;
                opacity: 1;
                margin-left: -1.3em;
                right: auto;
                display: inline-block
            }

        .et_pb_image_14 {
            margin-top: 20px !important;
            width: 100%;
            max-width: 100% !important;
            text-align: left;
            margin-left: 0
        }

        .et_pb_column_0 {
            background-image: linear-gradient(260deg, #ededed 0%, #fcfcfc 100%);
            padding-right: 40px;
            padding-left: 40px
        }

        .et_pb_column_1 {
            background-position: top center;
            background-blend-mode: multiply;
            background-image: url(/assets/images/Banner_Production_orders.jpg);
            background-color: #017eba
        }
        .et_pb_column_101 {
	        background-blend-mode: multiply;
	        background-image: url(/assets/images/dashboard.jpg);
	        background-color: #017eba
}

        .et_pb_social_media_follow_network_0 a.icon {
            background-color: #ffffff !important
        }

        .et_pb_social_media_follow_network_0.et_pb_social_icon a.icon {
            border-radius: 25px 25px 25px 25px
        }

        .et_pb_social_media_follow_network_0 {
            margin-top: 20px !important;
            margin-bottom: 0px !important
        }

        .et_pb_row_0.et_pb_row {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 0px !important;
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0
        }

        .et_pb_divider_0.et_pb_module {
            margin-left: 0px !important;
            margin-right: auto !important
        }

        .et_pb_divider_3.et_pb_module {
            margin-left: auto !important;
            margin-right: auto !important
        }

        .et_pb_divider_1.et_pb_module {
            margin-left: auto !important;
            margin-right: auto !important
        }

        .et_pb_divider_2.et_pb_module {
            margin-left: auto !important;
            margin-right: auto !important
        }
		.et_pb_column_102 {
			background-position: top center;
			background-blend-mode: multiply;
			background-image:
			url(/assets/images/CMMS-Planning.jpg);
			background-color: #017eba
}
    </style>
   

    <script>
        window.lazyLoadOptions = {
            elements_selector: "img[data-lazy-src],.rocket-lazyload",
            data_src: "lazy-src",
            data_srcset: "lazy-srcset",
            data_sizes: "lazy-sizes",
            class_loading: "lazyloading",
            class_loaded: "lazyloaded",
            threshold: 300,
            callback_loaded: function (element) {
                if (element.tagName === "IFRAME"
                    && element.dataset.rocketLazyload == "fitvidscompatible") {
                    if (element.classList.contains("lazyloaded")) {
                        if (typeof window.jQuery != "undefined") {
                            if (jQuery.fn.fitVids) {
                                jQuery(element).parent().fitVids();
                            }
                        }
                    }
                }
            }
        };
        window
            .addEventListener(
                'LazyLoad::Initialized',
                function (e) {
                    var lazyLoadInstance = e.detail.instance;

                    if (window.MutationObserver) {
                        var observer = new MutationObserver(
                            function (mutations) {
                                var image_count = 0;
                                var iframe_count = 0;
                                var rocketlazy_count = 0;

                                mutations
                                    .forEach(function (mutation) {
                                        for (i = 0; i < mutation.addedNodes.length; i++) {
                                            if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                                                return;
                                            }

                                            if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                                                return;
                                            }

                                            images = mutation.addedNodes[i]
                                                .getElementsByTagName('img');
                                            is_image = mutation.addedNodes[i].tagName == "IMG";
                                            iframes = mutation.addedNodes[i]
                                                .getElementsByTagName('iframe');
                                            is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
                                            rocket_lazy = mutation.addedNodes[i]
                                                .getElementsByClassName('rocket-lazyload');

                                            image_count += images.length;
                                            iframe_count += iframes.length;
                                            rocketlazy_count += rocket_lazy.length;

                                            if (is_image) {
                                                image_count += 1;
                                            }

                                            if (is_iframe) {
                                                iframe_count += 1;
                                            }
                                        }
                                    });

                                if (image_count > 0
                                    || iframe_count > 0
                                    || rocketlazy_count > 0) {
                                    lazyLoadInstance.update();
                                }
                            });

                        var b = document.getElementsByTagName("body")[0];
                        var config = {
                            childList: true,
                            subtree: true
                        };

                        observer.observe(b, config);
                    }
                }, false);
    </script>
    <script data-no-minify="1" async
            src="~/assets/javascript/lazyload.min.js"></script>
    <script src="~/assets/javascript/650c2d897b0cf859ed994784ae3046e7.js"
            data-minify="1" defer></script>
    <noscript>
        <link rel="stylesheet"
              href="~/assets/css/9641f0a0864df222d504ee43c089d0e0.css"
              data-minify="1" />
    </noscript>
    <noscript>
        <link rel='stylesheet' id='et-builder-googlefonts-cached-css'
              href='https://fonts.googleapis.com/css?family=Fira+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&#038;subset=latin%2Clatin-ext&#038;display=swap&#038;ver=5.4.2'
              type='text/css' media='all' />
    </noscript>
</body>
</html>


